---
layout: website-frame
---
<!-- This is the primary landing page of the website -->
<div class="posts">
  <!-- 
  <h1>Latest Post</h1>
  {% for post in site.posts limit:1 %}
    {% unless post.categories[0] == 'social' or post.layout == 'secret' %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Article Link</a>

      {% include read-time.html content=post.content %}

    </article>
    {% endunless %}
  {% endfor %} 
IF THIS IS ENABLED => add offset:1 to below for loop
-->

  <h1>Recent Posts</h1>
  {% for post in site.posts limit:5 %}
    {% unless post.categories[0] == 'social' or post.layout == 'secret' %}
          {% include post_preview.html %}
    {% endunless %}
  {% endfor %}
</div>
