  <article class="post">

    <h3>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        {% include read-time.html content=post.content %}
      </a>
      <a href="{{ post.url }}#disqus_thread">
        Comment
      </a>
    </h3>

    <div class="entry">
      {% if post.excerpt_separator %}{{ post.excerpt }}{% else %}{{ post.content | truncatewords:100 }}{% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>