  <article class="post">

    <h4>
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
      <span>| {% include read-time.html content=post.content %} | <a href="{{ post.url }}#disqus_thread">Add a Comment</a></span>
    </h4>

    <div class="entry">
      {% if post.excerpt_separator %}{{ post.excerpt }}{% else %}{{ post.content | truncatewords:100 }}{% endif %}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
  </article>