<div class="main">
  <nav class="navigation">
     <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/about">About</a></li>
        <li class="user"><a href="https://mstdn.social/@mochsner"><i class="fas fa-user"></i></a></li>
        <li class="user"><a href="https://twitter.com/moxnr"><i class="fas fa-user"></i></a></li>
        <li class="user"><a href="https://stackoverflow.com/users/5976566/mochsner"><i class="fas fa-user"></i></a></li>
        <li class="user"><a href="https://keybase.io/mochsner"><i class="fas fa-user"></i></a></li>
        <!-- <li class="user"><a href="#"><i class="fas fa-shopping-cart"></i></a></li> -->
        <!-- <li class="user"><a href="#"><i class="fas fa-sign-out-alt"></i></a></li> -->
     </ul> 
  </nav>
</div>

<!-- <a rel="me" href="https://mstdn.social/@mochsner">Mstdn</a>
<span>|</span>
<a rel="me" href="https://twitter.com/moxnr">Twitter</a>
<span>|</span>
<a rel="me" href="https://stackoverflow.com/users/5976566/mochsner">StackOverflow</a>
<span>|</span>
<a rel="me" href="https://keybase.io/mochsner">Keybase</a> -->