<li>
  <span> {{ post.date | date_to_string }}</span>

    » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title | truncate: 45 }}</a>
    {% include read-time.html content=post.content %}
    <span class="tags">
      »
      <a href="{{ post.url }}#disqus_thread">Discuss</a>
      »
      {% assign sortedCategories = post.categories | sort %}
      {% for category in sortedCategories | limit: 2 %}
        {% unless category == "social" %}
          <span class="tag">
              <a href="/category/{{ category }}">#{{ category }}</a>
          </span>
          {% endunless %}
      {% endfor %}

    </span> 
</li>