<!DOCTYPE html>
<html>

<div class="wrapper">

	<head>
  		{% include analytics.html %}
  		{% include googletagmanager_head.html %}
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/shell.css">
		<link rel="stylesheet" type="text/css" href="/css/menu.css">
	</head>

	<body>
  		{% include googletagmanager_body.html %}
		<nav>
			<div class="menu">
				<ul>
					<a href="/">
						<li>Home</li>
					</a>
					<a href="/about">
						<li>About</li>
					</a>
					<a href="/posts">
            <li>Posts</li>
					</a>
					<h3>mochsner.io</h3>
				</ul>
			</div>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<ul class="container d-flex flex-row justify-content-between">
				<li><a href="https://github.com/mochsner">github.com/mochsner</a></li>
				<li><a href="https://twitter.com/marcochsner">twitter.com/marcochsner</a></li>
			</ul>
		</footer>
	</body>
</div>

</html>
