<!DOCTYPE html>
<html>

<div class="wrapper">

	<head>
  		{% include googletagmanager_head.html %}
  		{% include analytics.html %}
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/shell.css">
		<link rel="stylesheet" type="text/css" href="/css/menu.css">

		<script src="/node_modules/angular/angular.js"></script>
	</head>

	<body>
  		{% include googletagmanager_body.html %}
		  <div ng-controller="AppCtrl" ng-cloak>
			<md-content class="md-padding">
			  <md-nav-bar
				md-no-ink-bar="disableInkBar"
				md-selected-nav-item="currentNavItem"
				nav-bar-aria-label="navigation links">
				<md-nav-item md-nav-href="/" name="page1">
				  Home
				</md-nav-item>
				<md-nav-item md-nav-href="/about" name="page2">
				  About
				</md-nav-item>
				<md-nav-item md-nav-click="/posts" name="page3">
				  Posts
				</md-nav-item>
				<!-- <md-nav-item md-nav-click="goto('page4')" name="page4" disabled>
				  Page Four
				</md-nav-item> -->
			  </md-nav-bar>
			</md-content>
		</div>
		<!-- <nav>
			<div class="menu">
				<ul>
					<a href="/">
						<li>Main</li>
					</a>
					<a href="/about">
						<li>About</li>
					</a>
					<a href="/posts">
            <li>Posts</li>
					</a>
					<h3>mochsner.github.io</h3>
				</ul>
			</div>
		</nav> -->
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
			<ul class="container d-flex flex-row justify-content-between">
				<li><a href="https://github.com/mochsner"><img src="https://camo.githubusercontent.com/ce26e680a3b81e5c2c818558c4b40908f1d9e11f161143e80d14daa42f1c9773/68747470733a2f2f696d672e736869656c64732e696f2f6769746875622f666f6c6c6f776572732f6d6f6368736e65723f6c6162656c3d666f6c6c6f77267374796c653d736f6369616c" alt="GitHub: mochsner" data-canonical-src="https://img.shields.io/github/followers/mochsner?label=follow&amp;style=social" style="max-width:100%;"></a></li>
				<li><a href="https://twitter.com/moxnr" rel="nofollow"><img src="https://camo.githubusercontent.com/fb200388fb632a009a9a532836391e78ae36fcde9ddb7e519a197026485abf79/68747470733a2f2f696d672e736869656c64732e696f2f747769747465722f666f6c6c6f772f6d6f786e723f7374796c653d736f6369616c" alt="Twitter: moxnt" data-canonical-src="https://img.shields.io/twitter/follow/moxnr?style=social" style="max-width:100%;"></a></li>
			</ul>
		</footer>
	</body>
</div>
<script>
	(function() {
  'use strict';

  angular.module('navBarDemoBasicUsage', ['ngMaterial'])
      .controller('AppCtrl', AppCtrl);

  function AppCtrl($scope) {
    $scope.currentNavItem = 'page1';

  }
})();
</script>
</html>
