.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.dev-icons {
  font-size: 3.5rem;
}
.dev-icons > * {
  max-width: 50px;
  max-height: 50px;  
}